*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  background-color: #fff;
  color: #000;
}

.wrapper {
  width: 98%;
  max-width: 1920px;
  margin: .3em auto;
}

.btns__btn {
  position: relative;
  background: none;
  border: 2px solid #000;
  padding: .7em 1.4em;
  border-radius: 6px;
  font-size: 1.2rem;
  cursor: pointer;
  z-index: 1;
  overflow: hidden;
}

.btns__btn--darker {
  background-color: #000;
  color: #fff;
}

.btns__btn--darker::before, .btns__btn--darker:hover::before {
  background-color: #2a2a2a !important;
}

.btns__btn--info {
  display: none;
  padding: 0;
  height: 100%;
  border: 0;
  -webkit-transform: scale(1.2) translateY(12.5px);
          transform: scale(1.2) translateY(12.5px);
}

.btns__btn--different {
  position: absolute;
  top: 43px;
  right: 10%;
  padding: .5em 1.1em;
  -webkit-transform: translateY(15%);
          transform: translateY(15%);
  font-size: .86rem;
}

.btns__btn::before {
  position: absolute;
  top: 50%;
  left: 48%;
  width: 20px;
  height: 20px;
  -webkit-transform: translate(-50%, -50%) scale(0.2);
          transform: translate(-50%, -50%) scale(0.2);
  content: '';
  background-color: #e2e2e1;
  -webkit-clip-path: circle(50% at 50% 50%);
          clip-path: circle(50% at 50% 50%);
  z-index: -1;
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
}

.btns__btn:hover::before {
  -webkit-transform: scale(11);
          transform: scale(11);
}

.creator {
  padding-top: 1.2em;
}

.creator__title {
  font-size: 2.5rem;
  text-align: center;
}

.creator__postarea {
  width: 100%;
  padding: 1em;
}

.creator__settings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 70px;
  height: 100%;
  border: 2px solid black;
  border-radius: 6px;
  margin: .8em 0;
  font-size: 1.25rem;
  overflow: hidden;
  text-align: center;
}

.creator__sett {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1em .3em;
}

.creator__sett p {
  font-weight: bold;
  padding: 0 0.5em;
}

.creator__sett--list {
  position: relative;
  border-radius: 4px;
  overflow: hidden;
}

.creator__sett--list select {
  min-width: 150px;
  padding: .2em;
  font-size: 1.1rem;
  border: 2px solid #000;
  border-radius: 6px;
  outline: 0;
  background-color: #fff;
  color: #000;
}

.creator__sett--list::before {
  position: absolute;
  top: 0;
  right: 0;
  width: 22px;
  height: 100%;
  background-color: black;
  content: '';
  z-index: 20;
  pointer-events: none;
}

.creator__sett--list::after {
  position: absolute;
  top: 6px;
  right: 1px;
  width: 20px;
  height: 20px;
  -webkit-clip-path: polygon(50% 60%, 80% 41%, 80% 58%, 50% 80%, 20% 60%, 20% 41%);
          clip-path: polygon(50% 60%, 80% 41%, 80% 58%, 50% 80%, 20% 60%, 20% 41%);
  background-color: #fff;
  content: '';
  z-index: 21;
  pointer-events: none;
}

.creator__post {
  position: relative;
}

.creator__post textarea,
.creator__post input[type='text'] {
  display: block;
  width: 90%;
  min-height: 340px;
  height: 60vh;
  margin: 0 auto;
  padding: .3em .7em;
  border-radius: 6px;
  border: 2px solid #000;
  font-family: inherit;
  font-weight: normal;
  font-size: 1.2rem;
  line-height: 34px;
  resize: none;
  overflow: auto;
  scrollbar-color: #ccc #fff;
}

.creator__post input[type='text'] {
  min-height: 60px !important;
  height: 60px !important;
  margin: 10px auto;
}

.creator__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  gap: 20px;
  width: 100%;
  margin: 0 auto;
  padding: 1em;
}

.creator__preview {
  display: none;
  text-align: justify;
  padding: 2em 0;
}

.creator__preview h2 {
  font-size: 2.5em;
  text-align: center;
  padding-bottom: .6em;
}

.show-preview {
  display: block;
}

.post__title {
  font-size: 2.4em;
  text-align: center;
  font-weight: bold;
  padding-bottom: .4em;
}

.post__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 40px;
  margin: 0 0 1em 0;
  padding: 0 2em;
  color: #fff;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.835);
  border-radius: 6px;
}

.post__info span {
  font-weight: bold;
}

.post__content {
  width: 98%;
  max-width: 870px;
  margin: 0 auto;
  padding: 0 1em;
  text-align: justify;
}

.post__content p {
  padding: .2em 0;
}

.post__content a {
  display: inline-block;
  margin: 0.4em 0.2em;
  padding: .3em 1em;
  border-radius: 6px;
  text-decoration: none;
  color: #fff;
  background-color: #000;
  -webkit-transition: color .3s ease, background-color .3s ease;
  transition: color .3s ease, background-color .3s ease;
}

.post__content a:hover {
  background-color: #fff;
  color: #000;
}

.post__content img {
  display: block;
  width: 100%;
  max-width: 400px;
  padding: 1em;
  margin: 0 auto;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.835);
  z-index: -90;
  overflow: auto;
}

.popup__box {
  min-width: 300px;
  padding: 1em 2em;
  border-radius: 6px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 20px #000;
          box-shadow: 0 0 20px #000;
}

.popup__title {
  font-size: 2rem;
  padding: .3em 0 .7em 0;
}

.popup__message {
  margin: 0 auto;
  width: 85%;
  text-align: justify;
}

.popup__content {
  padding: .4em;
}

.popup__content input[type="text"] {
  display: block;
  width: 90%;
  margin: 0 auto;
  margin-top: .58em;
  padding: .7em 1.4em;
  border: 2px solid #000;
  border-radius: 6px;
  font-size: inherit;
}

.popup__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  margin-bottom: .5em;
  width: 89%;
}

.popup__btn {
  margin: .7em .2em .4em .2em;
  min-width: 100px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-size: 1rem;
}

.popup__btn--darker {
  -webkit-box-flex: 1.17;
      -ms-flex-positive: 1.17;
          flex-grow: 1.17;
}

.show-popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 90;
}

.overflow {
  overflow: hidden;
}

.required {
  -webkit-box-shadow: 0 0 7px rgba(255, 0, 0, 0.61);
          box-shadow: 0 0 7px rgba(255, 0, 0, 0.61);
}
/*# sourceMappingURL=main.css.map */