.wrapper {
    width: 80%;
}

.creator {
    &__settings {
        flex-direction: row;
    }
}

.post {
    &__content {
        width: 80%;

        p {
            padding: .2em 1em;
        }

        img {
            float: left;
        }
    }

    &__info {
        display: flex !important;
        flex-direction: row;
    }
}

.btns {
    &__btn {
        &--different-i {
            right: 60px;
        }
    }
}