$colors: (light: #fff,
    third: #40A0BF,
    dark: #000,
    onhover: #3088a5,
    onhoverlight: #bedee96e);

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
    background-color: map-get($colors, light);
    color: map-get($colors, dark);
}

.wrapper {
    width: 98%;
    max-width: 1920px;
    margin: .3em auto;
}

.special {
    &__btn {
        position: relative;
        background: none;
        border: 2px solid map-get($colors, third);
        color: map-get($colors, third);
        padding: .7em 1.4em;
        max-width: 200px;
        border-radius: 6px;
        font-size: 1.2rem;
        cursor: pointer;
        z-index: 1;
        overflow: hidden;

        &--darker {
            background-color: map-get($colors, third);
            color: map-get($colors, light)
        }

        &--darker::before,
        &--darker:hover::before {
            background-color: map-get($colors, onhover) !important;
        }

        &--info {
            display: none;
            padding: 0;
            height: 100%;
            border: 0;
            transform: scale(1.2) translateY(12.5px);
        }

        &--different {
            padding: .5em 1.1em;
            transform: translateY(15%);
            font-size: .86rem;
        }
    }

    &__btn::before {
        position: absolute;
        top: 50%;
        left: 48%;
        width: 20px;
        height: 20px;
        transform: translate(-50%, -50%) scale(.2);
        content: '';
        background-color: map-get($colors, onhoverlight);
        clip-path: circle(50% at 50% 50%);
        z-index: -1;
        transition: transform .3s ease;
    }

    &__btn:hover::before {
        transform: scale(11);
    }
}

.creator {
    padding-top: 1.2em;

    &__title {
        font-size: 2.5rem;
        text-align: center;
    }

    &__postarea {
        width: 100%;
        padding: 1em;
    }

    &__settings {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        min-height: 70px;
        height: 100%;
        border: 2px solid map-get($colors, third);
        border-radius: 6px;
        margin: .8em 0;
        font-size: 1.25rem;
        overflow: hidden;
        text-align: center;
    }

    &__sett {
        display: flex;
        align-items: center;
        margin: 1em .3em;

        p {
            font-weight: bold;
            padding: 0 0.5em;
            color: map-get($colors, third);
        }

        &--list {
            position: relative;
            border-radius: 4px;
            overflow: hidden;

            select {
                min-width: 150px;
                padding: .2em;
                font-size: 1.1rem;
                border: 2px solid map-get($colors, third);
                border-radius: 6px;
                outline: 0;
                background-color: map-get($colors, light);
                color: #000;
            }
        }

        &--list::before {
            position: absolute;
            top: 0;
            right: 0;
            width: 22px;
            height: 100%;
            background-color: map-get($colors, third);
            content: '';
            z-index: 20;
            pointer-events: none;
        }

        &--list::after {
            position: absolute;
            top: 6px;
            right: 1px;
            width: 20px;
            height: 20px;
            clip-path: polygon(50% 60%, 80% 41%, 80% 58%, 50% 80%, 20% 60%, 20% 41%);
            background-color: map-get($colors, light);
            content: '';
            z-index: 21;
            pointer-events: none;
        }
    }

    &__post {
        position: relative;

        textarea,
        input[type='text'] {
            display: block;
            width: 90%;
            min-height: 340px;
            height: 60vh;
            margin: 0 auto;
            padding: .3em .7em;
            border-radius: 6px;
            border: 2px solid map-get($colors, third);
            font-family: inherit;
            font-weight: normal;
            font-size: 1.2rem;
            line-height: 34px;
            resize: none;
            overflow: auto;
            scrollbar-color: #ccc #fff;
        }

        input[type='text'] {
            min-height: 60px !important;
            height: 60px !important;
            margin: 10px auto;
        }
    }

    &__btns {
        display: flex;
        justify-content: flex-end;
        gap: 20px;
        width: 100%;
        margin: 0 auto;
        padding: 1em;
    }

    &__preview {
        display: none;
        text-align: justify;
        padding: 2em 0;
        word-break: break-all;

        h2 {
            font-size: 2.5em;
            text-align: center;
            padding: 0.4em;
            border-bottom: 2px solid map-get($colors, third);
        }
    }
}

.post {
    padding-top: 1em;

    &__title {
        font-size: 2.4em;
        text-align: center;
        font-weight: bold;
        padding-bottom: .4em;
    }

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        min-height: 40px;
        margin: 0 0 1em 0;
        padding: 0 2em;
        color: map-get($colors, light);
        text-align: center;
        background-color: map-get($colors, third);
        border-radius: 6px;

        span {
            font-weight: bold;
        }
    }

    &__content {
        width: 98%;
        max-width: 870px;
        margin: 0 auto;
        padding: 0 1em;
        text-align: justify;

        p {
            padding: .2em 0;
        }

        a {
            display: inline-block;
            margin: 0.4em 0.2em;
            padding: .3em 1em;
            border-radius: 6px;
            text-decoration: none;
            position: relative;
            background: none;
            border: 2px solid map-get($colors, third);
            z-index: 1;
            overflow: hidden;
            background-color: map-get($colors, third);
            color: map-get($colors, light)
        }

        a::before,
        a:hover::before {
            background-color: map-get($colors, onhover) !important;
        }

        a::before {
            position: absolute;
            top: 50%;
            left: 48%;
            width: 20px;
            height: 20px;
            transform: translate(-50%, -50%) scale(.2);
            content: '';
            background-color: map-get($colors, onhoverlight);
            clip-path: circle(50% at 50% 50%);
            z-index: -1;
            transition: transform .3s ease;
        }

        a:hover::before {
            transform: scale(11);
        }

        img {
            display: block;
            width: 100%;
            max-width: 400px;
            padding: 1em;
            margin: 0 auto;
        }
    }
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.835);
    z-index: -90;
    overflow: auto;

    &__box {
        min-width: 300px;
        padding: 1em 2em;
        border-radius: 6px;
        background-color: map-get($colors, light);
        box-shadow: 0 0 20px map-get($colors, dark);
    }

    &__title {
        font-size: 2rem;
        padding: .3em 0 .7em 0;
    }

    &__message {
        margin: 0 auto;
        width: 85%;
    }

    &__content {
        padding: .4em;

        input[type="text"] {
            display: block;
            width: 90%;
            margin: 0 auto;
            margin-top: .58em;
            padding: .7em 1.4em;
            border: 2px solid map-get($colors, third);
            border-radius: 6px;
            font-size: inherit;
        }
    }

    &__btns {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        margin-bottom: .5em;
        width: 89%;
    }

    &__btn {
        margin: .7em .2em .4em .2em;
        min-width: 100px;
        flex-grow: 1;
        font-size: 1rem;

        &--darker {
            flex-grow: 1.17;
        }
    }

}

.show-popup {
    display: flex;
    z-index: 90;
}

.show-preview {
    display: block;
}

.btns-container {
    position: absolute;
    top: 43px;
    right: 10%;
}

.overflow {
    overflow: hidden;
}

.required {
    box-shadow: 0 0 7px rgba(255, 0, 0, 0.61);
}