*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
    background-color: #fff;
    color: #000;
}

.wrapper {
    width: 80%;
    max-width: 1920px;
    margin: 10px auto;
}

.creator {
    padding: 1.2em;

    &__title {
        text-align: center;
    }

    &__postarea {
        width: 100%;
        padding: 1em;
    }
}